@page{
  size: A4 portrait;
  @bottom-right{
    content: 'Page ' counter(page) ' of ' counter(pages);
  }
}

@page:blank{
  @top-center{content: 'This page in blank.'}
}

h1:not(:first-of-type){
  page-break-before: always;
}

h1, h2, h3, h4, h5{
  page-break-after: avoid;
}

caption > *{
  margin-bottom: 0 !important;
}

table, figure {
  page-break-inside: avoid;
}

.govuk-grid-wrapper{
  page-break-before: auto;
}

.govuk-main-wrapper{
  padding:0;
}

.govuk-width-container{
  max-width: 960px;
}

.govuk-grid-column-one-half {
  width: 50%;
  float: left;
}

.govuk-body-s, .govuk-table {
  color: #0b0c0c;
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  margin-top: 0;
  margin-bottom: 15px;
}

.report-header{
  background-color: #6b3485;
  padding: 30px 40px;
  text-align: right;
  a{
    color: #ffffff;
  }
}

.report-heading--purple{
  color: #6b3485;
}

.report-proposal{
  border:10px solid #6b3485;
  padding:10px;
}
