{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h2 class="govuk-heading-m">v12</h2>
      <p><a class="govuk-link" href="/12/verification-report/index.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3597">
            Improve how we record verification of the current address.</a></p>
          <p class="govuk-body">This also includes making sure all drop down
            options match the editable print verification report.</p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3598">
            Remove choose sections page as users should consider both and maybe
            remove, rather than have nothing and add.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3599">
            Essential information improvements, consider domestic abuse history
            and callouts, remove PND acronym.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3604">
            Increment the prototype.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v11</h2>
      <p><a class="govuk-link" href="/11/verification-report/index.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3535">
            Looking at a better way to capture addresses. We need the current
            address to verify identity in court, other address to run checks on,
            and addresses for curfew. This is in prep for a call with our SME
            Faye Lundie.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3590">
            Increment the prototype.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v10</h2>
      <p><a class="govuk-link" href="/10/verification-report/index.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3543">
            Fix inaccuracies within the prototype.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3537">
            Content check updates, holistic look at content to drive consistency
            and increment to v10.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v9</h2>
      <p><a class="govuk-link" href="/9/verification-report/index.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3528">
            Offences screen shows the constituant parts of an offence.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3527">
            Make it clear which text areas will be consumed by magistrates, so
            probation can write words for them and the court.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3525">
            Update drop downs based on team and SME feedback.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3517">
            Verification report inputs link to the output doc. Populate parts
            of the report document with information users have provided.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3515">
            Increment to v9.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v8</h2>
      <p><a class="govuk-link" href="/8/verification-report/index.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3333">
            Increment to v8.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://miro.com/app/board/uXjVM6w-eIM=/?moveToWidget=3458764567898360031&cot=14">
            Changes to how we gather information for the verification report.
            Including moving to drop downs for how information has been verified
            at an interview</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v7</h2>
      <p><a class="govuk-link" href="/7/verification-report/start.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3333">
            Increment to v7.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v6</h2>
      <p><a class="govuk-link" href="/6/verification-report/start.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3323">
            Fix cancel link bug.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3318">
            Tech spike to see if its possible to make PDF download in the
            prototype kit.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3301">
            Updates to get ready for user research part 2,3 and 4. Also increment to v6.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v5</h2>
      <p><a class="govuk-link" href="/5/verification-report/start.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3296">
            Updates to get ready for user research part 1. This is a collection
            of changes we felt confident in making based on feedback from
            subject matter experts.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3287">
            Update prototype for run through with subject matter experts. The
            purpose is to show what the team thinks is right so that people can
            comment on it and help refine the questions.</a></p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3290">
            Increment to V5.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v4</h2>
      <p><a class="govuk-link" href="/4/verification-report/start.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body">
            Initial work to articulate how we can ask for the required data
            items</p>
        </li>
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3275">
            Block out sections of verification report.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v3</h2>
      <p><a class="govuk-link" href="/3/verification-report/start.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3267">
            Check answers has conditional sections.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v2</h2>
      <p><a class="govuk-link" href="/2/verification-report/start.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3194">
            Adding verification report to prototype.</a></p>
        </li>
      </ul>
    <h2 class="govuk-heading-m">v1</h2>
      <p><a class="govuk-link" href="/1/start.html">Prototype</a></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <p class="govuk-body"><a class="govuk-link" href="https://dsdmoj.atlassian.net/browse/PIC-3188">
            Set up repo and prototype so we are ready to create content.</a></p>
        </li>
      </ul>
  </div>
</div>

{% endblock %}
